
.sprite-flm-create-share, .sprite-fsh-view {
    background-image: url(images/icon.png) !important;
    background-repeat: no-repeat !important;
    display: block;
    width: 16px;
    height: 16px;
}
#FS_main table td {

padding-top: 3px;
padding-bottom: 3px;
}

/*

ul.CMenu li.hover {background-color: #CFDEEF;}
ul.CMenu li.hover a {color: #000000}
*/


