<table width="100%" border="0" cellspacing="0" cellpadding="2px">
    <tr>
        <td style="width:30px">
            <input type="button" id="FS_refresh" class="flm-nav-refresh flm-sprite sprite-refresh" value="" style="padding: 2px;"/>
        </td>
        <td>
            <a href="javascript:flm.ui.getDialogs().showDialog('flm-create-share');" id="FS_AddNew" class="Button"

            style="padding: 1px 10px; background: #F0F0F0; width: 80px; height: 19px; border: 1px solid #A0A0A0; cursor: pointer"
            >{{ theUILang.FSaddnew }}</a>
        </td>
    </tr>
</table>

