<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <div class="btn-group" role="group" aria-label="File Share Navigation">
                <button type="button" id="FS_refresh" class="btn w-auto p-0 m-0 flm-nav-refresh">
                    <i class="flm-sprite sprite-refresh"></i>
                </button>

                <a href="javascript:flm.share.create();"
                   id="FS_AddNew" class="btn btn-primary btn-sm pe-1 pt-0 pb-0 ps-1 m-0" role="button">
                    {{ theUILang.FSaddnew }}
                </a>
            </div>
        </div>

    </div>
</div>
